@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    color: #2B1B12;
    text-align: center;
    font-family:"Roboto", sans-serif ;
}

p{
    color: #C67851;
    width: 70%;
    font-family:"Roboto", sans-serif ;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #2B1B12;
    font-family:"Poppins", sans-serif ;
}

.menu a:hover{
    color: #2D0101;
    font-weight: 500;
}

.btn-action button{
    height: 30px;
    width: 180px;
    background-color: #2D0101;
    color: white;
    border-radius: 5px;
    font-family:"Poppins", sans-serif ;
    font-weight: 600;
    border: 1px solid black;
    
    cursor: pointer;
}

.sec1{
    display: flex;
    height: 90vh;
}

.bg1 img{
    height: 101%;
    width: 100%;
}
.bg1{
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFE6E1;
    padding-top: 150px;
    padding-bottom: 150px;
    justify-content: space-between;
    width: 100%;
}

.btn1{
    background-color: #2D0101;
    color: white;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
}

.btn2{
    background-color: transparent;
    color: #2D0101;
    border: #2D0101 2px solid;
    margin-left: 20px;
    height: 40px;
    width: 250px;
    border-radius: 7px;
    cursor: pointer;
}

.sec2{
    height: 30vh;
    background-color: #FAF2E7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sec2 div{
    width: 20%;
}
.sec2 img{
    width: 80%;
}

.sec3,.sec4,.sec6{
    height: 70vh;
}

.sec3 h1{
    margin-top: 50px;
    margin-bottom: 50px;
}



.pop-art{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pop-art img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.image-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(86, 61, 61, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: all 0.15s ease-in;
    border-radius: 8px;
}

.image-content h3 {
    color: white;
}

.image-content:hover{
    opacity: 1;
}

.prd{
    position: relative;
}



#desc{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: #4F3527;
}
.card img{
    width: 20%;
}

.card{
    width: 250px;
    height: 220px;
    background-color: #FAF2E7;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 70px;
    box-shadow: 0px 1px 10px #2B1B12;
    transition: 0.5s;
}
.card:hover{
    scale: 1.1;
}

.card h4,.card img{
    margin-bottom: 15px;
    border-radius: 50px;
}
.card p{
    width: 100%;
}

.cards{
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

.sec5{
    display: flex;
    height: 90vh;
    justify-content: space-between;
}
.bg5{
    height: 100vh;
}
.bg5 img{
    height: 100%;
}
.sec5 h4,p{
    color: #757575;
    font-family:"Poppins", sans-serif ;
    margin-bottom: 20px;
}
.sec5 h1{
    font-family:"Poppins", sans-serif ;
    font-weight: 900;
    line-height: 4.2rem;
    text-align: start;
    margin-bottom: 20px;
}
.desc{
    width: 50%;
    padding-top: 150px;
    margin-left: 150px;
}
.sec5 .btn1{
    height: 45px;
    border-style: none;
    cursor: pointer;
}
.sec6{
    padding-top: 200px;
}
.sec6 h1{
    font-family:"Poppins", sans-serif ;
    font-weight: 800;
    line-height: 3.2rem;
    text-align: start;
    margin-bottom: 20px;
    text-align: center;
}
.checks{
    display: flex;
    justify-content: center;

}
.checks p img{
    margin-bottom: -7px;
}
.checks p{
    width: fit-content;
    margin-right: 20px;
    margin-bottom: 30px;
}
.mail input{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: #FAF2E7;
    padding-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 3px 8px #2B1B12;
    border: none;
}
.mail{
    display: flex;
    justify-content: center;
}
.mail button{
    height: 40px;
    background-color: #2B1B12;
    width: 110px;
    transition: 0.5s;
}
.btn1,.btn2,.btn-action{
    transition: 0.5s;
}
.mail button:hover,.btn1:hover,.btn2:hover,.btn-action:hover{
    scale: 1.2;
    cursor: pointer;
}

footer{
    height: 60vh;
    background-color: #2D0101;
    margin-top: 70px;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    font-size: 1rem;
    
}

.footer-top li,.logo-light img{
    list-style: none;
    color: #923B10;
    font-family:"Poppins", sans-serif ;
    margin-bottom: 20px;
    
}

.footer-top a,.footer-top p{
    text-decoration: none;
    font-family:"Poppins", sans-serif ;
    color: white;
    width: 80%;
    opacity: 0.7;
}

.footer-top div{
    width: 20%;
}

.foot-hr{
    max-width: 1100px;
    margin: auto;
}
.icons{
    display: flex;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
    justify-content: end;
}
.icons img{
    margin-right: 12px;
}

.bottom-f p{
    font-weight: 400;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
    color: white;
}

.contacts{
    margin-bottom: 35px;
}

footer h4{
    color: white;
}

.hidden{
    display: none;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}



@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px)
    }to{
        opacity: 1;
        transform: translateX(0px) 
    }
}

@keyframes appearup {
    from{
        opacity: 0;
        transform: translateY(-100px)
    }to{
        opacity: 1;
        transform: translateY(0px) 
    }
}

@keyframes appearright {
    from{
        opacity: 0;
        transform: translateX(100px)
    }to{
        opacity: 1;
        transform: translateX(0px) 
    }
}

.sec2,.desc{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.sec3,.bg5{
    animation: appearright linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.sec4,.sec6{
    animation: appearup linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/********************************************************************responsivity****************************************************************************************/

@media(max-width:1024px)
{
    .content{
        max-width: 70%;
    }
    .pop-art{
        width: 80%;
        margin: auto;
    }
    .prd{
        text-align: center;
    }
    .cards{
        width: 90%;
        gap: 15px;
    }
    .card{
        height: auto;
        margin-top: 10px;
    }

    .bg5{
        height: 70vh;
    }
    .desc{
        margin-top: -160px;
    }

    .foot-hr,.icons{
        max-width: 800px;
    }
    .logo-light img{
        width: 70%;
    }
}

/*********768*/
@media(max-width:768px)
{
    .navbar{
        max-width: 700px;
        margin: auto;
    }
    .navbar img{
        width: 70%;
    }
    .navbar button{
        width: 100px;
    }
    h1{
        font-size: 2.1rem;
    }
    .content button{
        width: 200px;
    }
    .sec2{
        height: 15vh;
    }
    .sec3,.sec4,.sec5{
        height: 45vh;
    }
    #desc{
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    .card4{
        display: none;
    }
    .sec5{
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .sec5 h1{
        line-height: 2rem;
    }
    .desc{
        margin-left: 50px;
    }
    .foot-hr,.icons{
        max-width: 600px;
    }
    .logo-light img{
        width: 60%;
    }
}

/*********426*/
@media(max-width:426px)
{
    .logo{
        width: 40%;
        margin-left: 20px;
    }
    .menu{
        display: none;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        position: absolute;
        top:80px;
        width: 100%;
        text-align: center;
    }
    .hamburger{
        display: block;
    }
    #ham:checked + .hamburger + .logo + .menu{
        display: block;
        z-index: 2;
    }
    .sec1{
        height: 60vh;
    }
    h1{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .sec1 p{
        width: 80%;
    }
    .content button{
        width: 100px;
        height: 25px;
    }
    .content{
        padding-top: 50px;
        max-width: 100%;
        background-image: url(../images/bg1.png);
        background-blend-mode: overlay;
    }
    .sec2 img{
        width: 100%;
    }
    .sec3{
        height: 20vh;
    }
    .sec3 h1{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .prd h3{
        font-size: small;
    }
    #desc{
        width: 100%;
    }
    .sec4{
        height: 110vh;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .sec5{
        flex-direction: column-reverse;
        height: 130vh;
        justify-content: center;
    }
    .bg5{
        margin-bottom: 20px;
    }
    .desc{
        width: 85%;
        
    }
    .sec6{
        padding-top: 1px;
    }
    .sec6 h1{
        line-height: 2rem;
    }

    .checks p{
        font-size: 12px;
    }
    .mail input{
        width: 250px;
        height: 30px;
    }
    .links,.navbar button{
        display: none;
    }
    .footer-top div{
        width: 50%;
        margin-left: 30px;
    }
    .logo-light{
        margin-top: -40px;
    }
    .foot-hr,.icons{
        max-width: 200px;
    }

    .bg1{
        display: none;
    }
    .btn1{
        width: 120px;
        height: 25px !important;
    }
    .mail button{
        height: 30px !important;
    }
}


/*********************************footer && header // responsivity***********************************/

/*footer*/
/*
@media(max-width:1024px)
{
    .foot-hr,.icons{
        max-width: 800px;
    }
    .logo-light img{
        width: 70%;
    }
}

@media(max-width:768px)
{
    .navbar{
        max-width: 700px;
        margin: auto;
    }
    .navbar img{
        width: 70%;
    }
    .navbar button{
        width: 100px;
    }


    .foot-hr,.icons{
        max-width: 600px;
    }
    .logo-light img{
        width: 60%;
    }

}


*******3awdo copyiw header 7it tzad hamburger menu******************
*********zido had style dyalo f css 3adi************
.hidden{
    display: none;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
**********then media query raha lte7t*****************************



@media(max-width:426px)
{
    .logo{
        width: 40%;
        margin-left: 20px;
    }
    .menu{
        display: none;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        position: absolute;
        top:80px;
        width: 100%;
        text-align: center;
    }
    .hamburger{
        display: block;
    }
    #ham:checked + .hamburger + .logo + .menu{
        display: block;
        z-index: 2;
    }


    .links,.navbar button{
        display: none;
    }
    .footer-top div{
        width: 50%;
        margin-left: 30px;
    }
    .logo-light{
        margin-top: -40px;
    }
    .foot-hr,.icons{
        max-width: 200px;
    }

}

******************************************************************************************************************************************/