@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #2B1B12;
    font-family:"Poppins", sans-serif ;
}

.menu a:hover{
    color: #2D0101;
    font-weight: 500;
}

.btn-action button{
    height: 30px;
    width: 180px;
    background-color: #2D0101;
    color: white;
    border-radius: 5px;
    font-family:"Poppins", sans-serif ;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
}

.hidden{
    display: none;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.container {
    background-image: url(/img/page_contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
a {
    text-decoration: none;
}

.contact {
    background-color: rgba(255, 255, 255, 0.663); 
    max-height: 100%;
    max-width: 90%;
    width: 60%;
    margin: 20px auto; 
    position: relative;
    overflow: hidden;
}

.img_container_contact {
    background-image: url(/img/1000_F_549310892_75KBCE4jk71o8bmjUQqVqLIrXweuz7gc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container_contact h1 {
    color: #ffffff;
    font-size: 2.5rem; 
    text-align: center; 
}

.input_contact {
    text-align: center;
    padding: 20px; 
}

.input_contact div {
    display: flex;
    justify-content: center;
    margin: 15px; 
}

.input_contact div input, button {
    width: 60%;
    height: 40px;
    border-radius: 7px;
    padding: 0 10px;
}

textarea {
    height: 150px;
    width: 60%;
    border-radius: 7px;
    padding: 10px; 
}

 button {
    background-color: #2D0101;
    cursor: pointer;
 }


 button a{
    color: #fff;

 }

 footer{
    height: 60vh;
    background-color: #2D0101;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    font-size: 1rem;
    
}

.footer-top li,.logo-light img{
    list-style: none;
    color: #923B10;
    font-family:"Poppins", sans-serif ;
    margin-bottom: 20px;
    
}

.footer-top a,.footer-top p{
    text-decoration: none;
    font-family:"Poppins", sans-serif ;
    color: white;
    width: 80%;
    opacity: 0.7;
}

.footer-top div{
    width: 20%;
}

.foot-hr{
    max-width: 1100px;
    margin: auto;
}
.icons{
    display: flex;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
    justify-content: end;
}
.icons img{
    margin-right: 12px;
}

.bottom-f p{
    font-weight: 400;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
    color: white;
}

.contacts{
    margin-bottom: 35px;
}

footer h4{
    color: white;
}


@media screen and (max-width: 768px) {

    .btn-action {
        margin-top: 10px; 
    }

    .contact {
        max-width: 90%;
    }

    .img_container_contact h1 {
        font-size: 2rem;
    }

    .input_contact div input, textarea, button {
        width: 100%; 
    }
}

@media screen and (max-width: 480px) {
    .img_container_contact {
        height: 180px;
    }
    
    .img_container_contact h1 {
        font-size: 1.5rem;
    }
    .input_contact {
        text-align: center;
        padding: 0px; 
    }

    .navbar {
        padding: 0 10px; 
    }

    .btn-action button {
        width: 100%;
    }
}



@media(max-width:1024px)
{
    .foot-hr,.icons{
        max-width: 800px;
    }
    .logo-light img{
        width: 70%;
    }
}

@media(max-width:768px)
{
    .navbar{
        max-width: 700px;
        margin: auto;
    }
    .navbar img{
        width: 70%;
    }
    .navbar button{
        width: 100px;
    }


    .foot-hr,.icons{
        max-width: 600px;
    }
    .logo-light img{
        width: 60%;
    }

}



@media(max-width:426px)
{
    .logo{
        width: 40%;
        margin-left: 20px;
    }
    .menu{
        display: none;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        position: absolute;
        top:80px;
        width: 100%;
        text-align: center;
    }
    .hamburger{
        display: block;
    }
    #ham:checked + .hamburger + .logo + .menu{
        display: block;
        z-index: 2;
    }


    .links,.navbar button{
        display: none;
    }
    .footer-top div{
        width: 50%;
        margin-left: 30px;
    }
    .logo-light{
        margin-top: -40px;
    }
    .foot-hr,.icons{
        max-width: 200px;
    }

}

