body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #4B2E2E;
}

/********************************************************************************************************************************************/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    margin-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #2B1B12;
    font-family:"Poppins", sans-serif ;
}
.menu li a:hover{
    font-weight:bold;
}

.menu a:hover{
    color: #2D0101;
    font-weight: 500;
}

.btn-action button{
    height: 30px;
    width: 180px;
    background-color: #2D0101;
    color: white;
    border-radius: 5px;
    font-family:"Poppins", sans-serif ;
    font-weight: 600;
    border: 1px solid black;
    
    cursor: pointer;
}

footer{
    height: 60vh;
    background-color: #2D0101;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    font-size: 1rem;
    
}

.footer-top li,.logo-light img{
    list-style: none;
    color: #923B10;
    font-family:"Poppins", sans-serif ;
    margin-bottom: 20px;
    
}

.footer-top a,.footer-top p{
    text-decoration: none;
    font-family:"Poppins", sans-serif ;
    color: white;
    width: 80%;
    opacity: 0.7;
}

.footer-top div{
    width: 20%;
}

.foot-hr{
    max-width: 1100px;
    margin: auto;
}
.icons{
    display: flex;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
    justify-content: end;
}
.icons img{
    margin-right: 12px;
}

.bottom-f p{
    font-weight: 400;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
    color: white;
}

.contacts{
    margin-bottom: 35px;
}

footer h4{
    color: white;
}

.hidden{
    display: none;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media(max-width:1024px)
{
    .foot-hr,.icons{
        max-width: 800px;
    }
    .logo-light img{
        width: 70%;
    }
}

@media(max-width:768px)
{
    .navbar{
        max-width: 700px;
        margin: auto;
    }
    .navbar img{
        width: 70%;
    }
    .navbar button{
        width: 100px;
    }


    .foot-hr,.icons{
        max-width: 600px;
    }
    .logo-light img{
        width: 60%;
    }

}


.hidden{
    display: none;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}



@media(max-width:426px)
{
    .logo{
        width: 40%;
        margin-left: 20px;
    }
    .menu{
        display: none;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        position: absolute;
        top:60px;
        width: 100%;
        text-align: center;
    }
    .hamburger{
        display: block;
    }
    #ham:checked + .hamburger + .logo + .menu{
        display: block;
        z-index: 2;
    }


    .links,.navbar button{
        display: none;
    }
    .footer-top div{
        width: 50%;
        margin-left: 30px;
    }
    .logo-light{
        margin-top: -40px;
    }
    .foot-hr,.icons{
        max-width: 200px;
    }
    .feedback {
        background-color:#f8ead7;; /*#2D0101;*/
        color: #4B2E2E;;
        padding: 50px;
        text-align: center;
    }
    .client {
        display: inline-block ;
        justify-content: center;
    }
}



entete {
    background-image: url(../images/shutterstock_231575308.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: #F5F0E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.2vw;
    padding: 40px;
}
entete h1{
    animation:fadeIn 2s ease-in-out forwards;
}


@keyframes fadeIn {
      0% {
                opacity: 0;
                transform: translateY(20px);
            }
      100% {
                opacity: 1;
                transform: translateY(0);
            }
        }


.mission {
    background-color: #2D0101;
    padding: 50px;
    text-align: center;
    color: #FDF3E7;
    padding-bottom: 5rem;
}

.mission h2 {
    margin-top:4.3rem;
    font-size:2.8rem;
    margin-bottom: 20px;
}
.valeurs-section{
    padding-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FAF2E7;
}

.valeurs-item {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.valeurs-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.valeurs-item h3 {
    color: #D04500;
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: left;
    position: absolute;
    top: 15px;
    left: 15px;
}

.valeurs-item p {
    color: #4B2E2E;
    font-size: 1rem;
    margin-top: 60px; 
    text-align: left;
    line-height: 1.5;
}

.valeurs-item img {
    width: 50px;
    position: absolute;
    right: 15px;
    transition: all 0.3s ease;
}


.histo {
    background-color: #f8ead7;
    padding: 50px;
    text-align: center;
    color: #8B4513;
    padding-bottom: 5rem;
}

.histo h2 {
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
}

.artisans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FAF2E7;  /*#D04500;*/
    padding: 40px;
}

.arti {
    width: 400px;
    margin: 15px;
    border: 2px solid #8B4513;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.arti:hover {
    transform: scale(1.05);
}

.arti img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.arti h3, .arti p {
    padding-left: 5vw; }
.feedback {
    background-color:#f8ead7;; /*#2D0101;*/
    color: #4B2E2E;;
    padding: 50px;
    text-align: center;
}

.pers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.client {
    background-color: #fff;
    position:relative;
    width:350px;
    margin: 25px;
    border: 2px solid #D04500;/*#FFD700;*/
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap:wrap;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.client p{
    width:190px;
}

.client:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cta-section {
    background-color: #FAF2E7; /*#8B4513;*/
    padding: 40px;
    text-align: center;
    color: #4B2E2E;
}

.cta-button {
    background-color: #4B2E2E; 
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #D04500; 
    color: #4B2E2E; 
    
}
    .valeurs-item:hover .img1 {
        content: url('../images/icons8-cards.gif'); 
    }
    .valeurs-item:hover .img2 {
        content: url('../images/icons8-quality.gif'); 
    }
    .valeurs-item:hover .img3 {
        content: url('../images/icons8-people.gif'); 
    }
    .valeurs-item:hover .img4 {
        content: url('../images/icons8-service.gif'); 
    }
    
    .pers img{
        width: 80px;
        height:80px;
        border-radius:50%;
        margin-left:10px;
        transition: transform 0.8s ease, filter 0.5s ease;
    }
    .client:hover img {
    transform: rotatey(360deg); 
    filter: brightness(1.2); 
}
    .pers .me{
        bottom:20%;
        right:20%;
        transition: color 1s ease, transform 0.3s ease;
        margin-left:20px;
    }
    .client:hover .me {
    color: #D04500; 
    transform: translateX(10px);
}